# Used from a previous project
/build/
/out/
/target/

.gradle/
/.gradle-cache/

*.log
*.tmp

.idea/
*.iml
*.classpath
*.project
*.settings/
.vscode/

.DS_Store
Thumbs.db

*.class

*.jar
*.war

*.env
*.dockerignore

coverage/
*.lcov
*.clover

/test-output/

.metadata/
bin/

receiptprocessor/.gradle/
receiptprocessor/build/
receiptprocessor/out/
receiptprocessor/.idea/
receiptprocessor/*.iml

receiptprocessor/*.jar
receiptprocessor/*.war
